body
	background-color: black

h1
	font-family: 'Cinzel', serif !important

i
	color: red

a, a:focus
	color: white

	&:hover
		color: $accent-color

footer, a, h1
	font-family: 'Cinzel', sans-serif

section
	height: 99.8%