// About Section
section: #about
	.about
		.row
			.large-12.column.text-center
				h1.sectionTitle About
				img(src="assets/img/me.jpg", alt="")
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quia perspiciatis, corporis facere cumque delectus iure aperiam a vitae quis asperiores necessitatibus, eligendi repellendus officia. Beatae mollitia expedita, repellendus ea.
		
		.row
			.large-12.column.text-center
				h1.about__front-end-header Front End Skill Set

		.row.about__front-end-lists-container.align-center
			.medium-4.small-6.column.xsmall-12

				h4.about__front-end-section Code
				ul.about__front-end-lists
					li.about__front-end-list__entry
						img(src="assets/img/html5.svg", alt="html5")
						span HTML5
					li.about__front-end-list__entry
						img(src="assets/img/css3.svg", alt="html5")
						span CSS3
					li.about__front-end-list__entry
						img(src="assets/img/js.svg", alt="html5")
						span JavaScript
					li.about__front-end-list__entry
						img(src="assets/img/jquery.svg", alt="html5")
						span JQuery
					li.about__front-end-list__entry
						img(src="assets/img/zurb.svg", alt="html5")
						span Foundation


			.medium-4.small-6.column.xsmall-12

				h4.about__front-end-section Build Process
				ul.about__front-end-lists
					li.about__front-end-list__entry
						img(src="assets/img/jade.svg", alt="html5")
						span Jade
					li.about__front-end-list__entry
						img(src="assets/img/sass.svg", alt="html5")
						span SASS
					li.about__front-end-list__entry
						img(src="assets/img/gulp.svg", alt="html5")
						span Gulp
					li.about__front-end-list__entry
						img(src="assets/img/npm.svg", alt="html5")
						span Npm
					li.about__front-end-list__entry
						img(src="assets/img/bower.svg", alt="html5")
						span Bower

			.medium-4.small-7.column.xsmall-12

				h4.about__front-end-section Applications
				ul.about__front-end-lists
					li.about__front-end-list__entry
						img(src="assets/img/ps.svg", alt="html5")
						span Photoshop
					li.about__front-end-list__entry
						img(src="assets/img/sketch.svg", alt="html5")
						span Sketch 3
					li.about__front-end-list__entry
						img(src="assets/img/git.svg", alt="html5")
						span Git