footer
	.footer
		.row: .large-12.column.text-center
			p.footer__msg Made with 
				| <i class="fi-heart"><span class="footer__icn-text">Love</span></i> 
				| in the 
				| <i class="fi-mountains"><span class="footer__icn-text">Rockies</span></i><br/>
				| <span class="footer__name-date">Justin Tafoya - 2016</span>