header
	nav
		.main-menu
			ul.menu.main-menu__ul
				li: a.main-menu__link(href="#landing") Home
				li: a.main-menu__link(href="#portfolio") Portfolio
				li: a.main-menu__link(href="#resume") Resume
				li: a.main-menu__link(href="#about") About
				li: a.main-menu__link(href="#") Contact

		

