// Landing Page
section#landing
	.landing
		.landing__overlay
		.landing__cta
			h1 Justin <span class="accent"> Tafoya </span>
			p Climbing my way into the field one <span class="accent tag">&#60&#47&#62</span> at a time
			a.button(href="#portfolio") Learn More