// Resume Section
section: #resume.resume
	.row
		.large-12.column.text-center
			h1.sectionTitle Resume
			.resume__info-box
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quia perspiciatis, corporis facere cumque delectus iure aperiam a vitae quis asperiores necessitatibus, eligendi repellendus officia. Beatae mollitia expedita, repellendus ea.
				a.button(href="#") Download Resume